@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');



:root {

    .vermelho-clarinha-1-rgba {
        color: rgba(128, 0, 0, 1);
    }

    .vermelho-clarinha-2-rgba {
        color: rgba(255, 77, 77, 1);
    }

    .vermelho-clarinha-3-rgba {
        color: rgba(255, 0, 0, 1);
    }

    .vermelho-clarinha-4-rgba {
        color: rgb(247, 225, 225);
    }

    .vermelho-clarinha-5-rgba {
        color: rgba(204, 0, 0, 1);
    }

    --font-principal: 'DM Sans',
    sans-serif;
}


body {
    background-color: rgb(247, 225, 225);
    font-family: var(--font-principal);
    font-size: 20px;
    color: var(--azul-escuro);
    margin: 0;
    height: 100vh;
    width: 100%;

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {

    background-color: rgba(128, 0, 0, 1);
    color: var(--azul-escuro);
    margin-top: 10px;
    margin-bottom: 20px;

}



.container-slider {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: -40px;
}


.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
}


.slider {
    position: absolute;
    width: 100%;
    border-radius: 10px;
    opacity: 0;
    transition: opacity .2s;
}


.on {
    opacity: 1;
}


#prev-button,
#next-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button img,
#next-button img {
    width: 100%;
    height: 100%;
}

#prev-button {
    transform: rotate(180deg);
}


nav {
    display: flex;  
    justify-content: center;
    height: 50px;
}

nav>a {
    margin: 10px 20px;
    position: relative;
    padding: 0px 40px 10px 0;
    text-decoration: none;

}

nav>a::after {
    content: " ";
    width: 0%;
    transition: 0.5s ease-in-out;
    height: 2px;
    background-color: rgb(247, 225, 225);
    position: absolute;
    bottom: 0;
    left: 0;
}


nav>a:hover::after {
    width: 100%;
}


.h1 {
    margin-left: 300px;
    margin-top: 70px;
    margin-bottom: -130px;
}


.foto {
    border-radius: 20px;
}


.conteiner a {
    color: rgb(247, 225, 225);
    word-spacing: 10px;
    text-decoration: none;

}

.item {
    color: var(--azul-escuro);

    height: 100%;
    width: 300px;
    background-color: var(--azul-claro);
    border: solid 2px
}


.anuncio {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 20px 10px 10px;
    margin-top: 25px;

}


.texto {
    font-size: 15px;
    margin-left: -150px;

}





.noticia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 1 / span 4;
    margin-right: 50px;
    margin-left: 0px;
    gap: 20px;
    margin-top: 30px;
}




.search-box {
    position: absolute;
    padding: 10px;
    border-radius: 40px;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -290px;
    margin-left: 500px;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: aliceblue;
    font-size: 16px;
    line-height: 40px;
}


.search-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: grid;
    background-color: rgba(204, 0, 0, 1);
    margin-top: 50px;
    font-family: var(--font-principal);
    color: aliceblue;
    font-size: 22pxpx;
    justify-content: center;
}

.imagem-anuncio {
    border-radius: 0%;
    margin-left: 70px;

}


.texto2 {
    margin-left: -240px;
    margin-right: 500px;
    margin-bottom: -400px;
    font-size: 12px;
    text-align: center;
    margin-top: -80px;
}

.img {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    justify-content: center;
    margin-top: 15px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#img {
    margin-left: 20px;
    
}

.propaganda {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}


.h2 {
    margin-left: 270px;
    font-size: 18px;
    font-family: (--font-principal);
    margin-top: 40px;
    color: rgba(255, 0, 0, 1);
}

.ad {
    width: 800px;
    height: 300px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 270px;
}



.paragrafo {
    background-color: rgb(255, 255, 255);

}

.frase {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 510px;
    margin-top: -70px;
    font-size: 15px;
}


.video {
    display: flex;
    align-items: center;
    padding: 50px;
    justify-content: center;
}

.logo {
    
    margin-left: 100px;
    margin-bottom: 300px;
}


.dicas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-column: 1 / span 3;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1 / span 1;
    gap: 30px;
    margin-right: 800px;
    font-size: 15px;



}

.titulo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgba(255, 0, 0, 1);
}


.mais-lidas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 20px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgba(204, 0, 0, 1);
    
}

hr {
    color: gray;
    opacity: 50%;
}